<div class="container-fluid">

    <div class="row">
        <div class="col-md-12 header">
                <h1>Fakebook</h1>
        </div>
    </div>
    <div class="row space-top">
        <div class="col-md-5 col-md-offset-1">
            <img src="../assets/imagen.png" alt=":)">
        </div>
        <div class="col-md-3 col-md-offset-2">
            <div class="card">
                <div class="row">
                    <div>
                        <h2>Bienvenido</h2>
                        <label>
                            <input type="text" placeholder="Email" [(ngModel)]="email"/>
                            <br><span class="error">{{errorMail}}</span>
                        </label>
                        <label>
                            <input type="password" placeholder="Password" [(ngModel)]="password"/>
                            <br><span class="error">{{errorPass}}</span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <button routerLinkActive="active" class="btn" (click)="login();">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>