<div class="container-fluid">

    <div class="row">
        <div class="col-md-12 header">
                <h1>Fakebook</h1>
        </div>
    </div>
    <div class="row space-top">
      <div class="col-md-6 col-md-offset-2">
        <div class="card">
            <textarea rows="4" cols="75" placeholder="¿Qué está pasando?"></textarea>
            <input type="file" id="fileElem" accept="image/*">
            <select name="amigos" id="" class="btn-default" style>
                <option value="Amigos">Amigos</option>
                <option value="Todos">Publico</option>
            </select>
            <button class="btn-default">Publicar</button>
        </div>
      </div>
    </div>
    <div class="row space-top">
      <div class="col-md-6 col-md-offset-2">
         Amigos Publico
      </div>
    </div>
    <div class="row space-top">
      <div class="col-md-6 col-md-offset-2">
        <div class="card post">
          <p>
          Hoy el Laucha tierniza un Matambre de Res en nuestro Horno Tromen y lo termina en la parrilla con unos agregados DELUXE por encima. ¡Una combinación explosiva de sabores!
          </p>
          editar eliminar
        </div>
      </div>  
    </div>

</div>