<div class="container-fluid">

    <div class="row header">
        <div class="col-md-4">
            <h1>Fakebook</h1>
        </div>
        <div class="col-md-1 col-md-offset-7 space-top">
            <span (click)="salir()" class="salir">Salir</span>
        </div>
    </div>
    <div class="row space-top">
      <div class="col-md-6 col-md-offset-2">
        <span class="link" (click)="filtro = 'amigos'">Amigos</span>
        <span class="link" (click)="filtro = 'publico'">Público</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <div *ngFor="let post of posts">
          <div *ngIf="(post.visible === 'publico' && filtro === 'publico') || filtro==='amigos' || post.id === 0" class="card space-top" [ngClass]="{'edit': post.state==='edit', 'post': post.state==='post' }">
            <textarea *ngIf="post.state==='edit'" rows="4" cols="75" [(ngModel)] ="post.value" placeholder="¿Qué está pasando?"></textarea>
            <textarea *ngIf="post.state==='post'" rows="4" cols="75" disabled>{{post.value}}</textarea>
            <span *ngIf="post.state==='edit'">
              <select name="visibilidad" class="btn-default" [(ngModel)] ="post.visible">
                  <option value="amigos">Amigos</option>
                  <option value="publico">Público</option>
              </select>
              <button class="btn-default" (click)="publicar(post.value, post.visible, post.id)"><span *ngIf="post.id === 0">Publicar</span><span *ngIf="post.id !== 0">Guardar</span></button>
            </span>
            <span *ngIf="post.state==='post'">
              <span (click)="post.state = 'edit'" class="link">Editar</span>
              <span (click)="borrar(post.id)" class="link">Eliminar</span>
            </span>
          </div>
        </div>
      </div>
    </div>
</div>