textarea {
    resize: none;
    width:100%;
}

.card{
	padding: 0.7em;
}

.post{
    text-align: left;
}

.edit{
    text-align: right;
}

.post textarea{
    border: none;
    color: black;
}

.link{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.salir{
    cursor: pointer;
}